<!DOCTYPE html>
<html lang="vi">
<% include ./../../partials/header/head %>
<link rel="stylesheet" type="text/css" href="styles/regular_styles.css">
<link rel="stylesheet" type="text/css" href="styles/regular_responsive.css">
</head>

<body>

    <div class="super_container">

        <!-- Header -->
        <% include ./../../partials/header/header %>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">
                                <h3><i class="fa fa-lock fa-4x"></i></h3>
                                <h2 class="text-center">Quên mật khẩu</h2>
                                <p>Bạn có thể nhập email và chúng tôi sẽ hỗ trợ bạn</p>
                                <div class="panel-body">

                                    <form id="register-form" role="form" autocomplete="off" class="form" method="post">

                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i
                                                        class="glyphicon glyphicon-envelope color-blue"></i></span>
                                                <input id="email" name="email" placeholder="email address"
                                                    class="form-control" type="email">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input name="recover-submit" class="btn btn-lg btn-primary btn-block"
                                                value="Reset Password" type="submit">
                                        </div>

                                        <input type="hidden" class="hide" name="token" id="token" value="">
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Newsletter -->
        <% include ./../../partials/footer/newsletter %>
        <!-- Footer -->
        <% include ./../../partials/footer/footer %>
        <!-- Copyright -->
        <% include ./../../partials/footer/copyright %>
    </div>
    <% include ./../../partials/scripts %>
</body>

</html>