<!DOCTYPE html>
<html lang="vi">
<% include ./../../partials/header/head %>
<link rel="stylesheet" type="text/css" href="styles/regular_styles.css">
<link rel="stylesheet" type="text/css" href="styles/regular_responsive.css">
<link rel="stylesheet" type="text/css" href="styles/update.css">
</head>

<body>

    <div class="super_container">

        <!-- Header -->
        <% include ./../../partials/header/header %>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="container">
            <div class="view-account">
                <section class="module">
                    <div class="module-inner">
                        <div class="side-bar">
                            <div class="user-info">
                                <img class="img-profile img-circle img-responsive center-block"
                                    src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                                <ul class="meta list list-unstyled">
                                    <li class="name">Minh Quân
                                        <label class="label label-info">(Admin)</label>
                                    </li>
                                    <li class="email"><a href="#">abc@gmail.com</a></li>
                                    <li class="activity">Đăng nhập gần nhất: 2:18pm hôm nay</li>
                                </ul>
                            </div>
                            <nav class="side-menu">
                                <ul class="nav">
                                    <li class="active"><a href="#"><span class="fa fa-user"></span> Thông tin</a></li>
                                    <li><a href="#"><span class="fa fa-cog"></span> Cài đặt</a></li>
                                    <li><a href="#"><span class="fa fa-credit-card"></span> Thanh toán</a></li>
                                    <li><a href="#"><span class="fa fa-envelope"></span> Tin nhắn</a></li>

                                    <li><a href="#"><span class="fa fa-th"></span> Dữ liệu</a></li>
                                    <li><a href="#"><span class="fa fa-clock-o"></span> Nhắc nhở</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="content-panel">
                            <h2 class="title">Profile<span class="pro-label label label-warning">PRO</span></h2>
                            <form class="form-horizontal">
                                <fieldset class="fieldset">
                                    <h3 class="fieldset-title">Thông tin cá nhân</h3>
                                    <div class="form-group avatar">
                                        <figure class="figure col-md-2 col-sm-3 col-xs-12">
                                            <img class="img-rounded img-responsive"
                                                src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                                        </figure>
                                        <div class="form-inline col-md-10 col-sm-9 col-xs-12">
                                            <input type="file" class="file-uploader pull-left">
                                            <button type="submit" class="btn btn-sm btn-default-alt pull-left">Hình đại diện
                                                </button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 col-sm-3 col-xs-12 control-label">Tên đăng nhập</label>
                                        <div class="col-md-10 col-sm-9 col-xs-12">
                                            <input type="text" class="form-control" value="Rebecca">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-2 col-sm-3 col-xs-12 control-label">Tên họ</label>
                                        <div class="col-md-10 col-sm-9 col-xs-12">
                                            <input type="text" class="form-control" value="Rebecca">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 col-sm-3 col-xs-12 control-label">Tên chính</label>
                                        <div class="col-md-10 col-sm-9 col-xs-12">
                                            <input type="text" class="form-control" value="Sanders">
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="fieldset">
                                    <h3 class="fieldset-title">Liên lạc</h3>
                                    <div class="form-group">
                                        <label class="col-md-2  col-sm-3 col-xs-12 control-label">Email</label>
                                        <div class="col-md-10 col-sm-9 col-xs-12">
                                            <input type="email" class="form-control" value="Rebecca@website.com">
                                            <p class="help-block">Nhập email của bạn </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2  col-sm-3 col-xs-12 control-label">Twitter</label>
                                        <div class="col-md-10 col-sm-9 col-xs-12">
                                            <input type="text" class="form-control" value="SpeedyBecky">
                                            <p class="help-block">Tên tài khoản twitter</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2  col-sm-3 col-xs-12 control-label">Linkedin</label>
                                        <div class="col-md-10 col-sm-9 col-xs-12">
                                            <input type="url" class="form-control"
                                                value="https://www.linkedin.com/in/lorem">
                                            <p class="help-block">eg. https://www.linkedin.com/in/yourname</p>
                                        </div>
                                    </div>
                                </fieldset>
                                <hr>
                                <div class="form-group">
                                    <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                                        <input class="btn btn-primary" type="submit" value="Cập nhật thông tin">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- Newsletter -->
        <% include ./../../partials/footer/newsletter %>
        <!-- Footer -->
        <% include ./../../partials/footer/footer %>
        <!-- Copyright -->
        <% include ./../../partials/footer/copyright %>
    </div>
    <% include ./../../partials/scripts %>
</body>

</html>