<!DOCTYPE html>
<html lang="vi">
<% include ./../../partials/header/head %>
<link rel="stylesheet" type="text/css" href="styles/regular_styles.css">
<link rel="stylesheet" type="text/css" href="styles/regular_responsive.css">
</head>

<body>

    <div class="super_container">

        <!-- Header -->
        <% include ./../../partials/header/header %>
        <!-- Newsletter -->
        <% include ./../../partials/footer/newsletter %>
        <!-- Footer -->
        <% include ./../../partials/footer/footer %>
        <!-- Copyright -->
        <% include ./../../partials/footer/copyright %>
    </div>
    <% include ./../../partials/scripts %>
</body>

</html>